/ReichmanInGame/Assembly-CSharp.csproj
/ReichmanInGame/Library
/ReichmanInGame/ReichmanInGame.sln
/ReichmanInGame/Temp
/ReichmanInGame/UserSettings
/ReichmanInGame/Logs
/ReichmanInGame/.idea/.idea.ReichmanInGame/.idea
/ReichmanInGame/obj/Debug
/ReichmanSemB/Library
